.sidebar .nav-link{
    color: #888888 !important;
    font-size: 15px;
    font-weight: 600;
    padding: 18px 0px;

}
.sidebar {
    background: #ffffff !important;
}
main.main {
    background: #f7f9fb;
}
.sidebar .nav-link.active{
    background-color: #ffffff !important;
    color: black !important;
}
td:focus {
    outline: none !important;
}