body{
  color: black !important;
  font-family: 'Montserrat', sans-serif !important;
}
.top-nav-total-txt{
  /* width: 15%; */
  display: inline-block;
  font-size: 16px;
  font-weight: 600; 
  color: #818181;
  font-family: 'Montserrat', sans-serif !important;
}
.top-nav-total-price{
  font-size: 20px;
  font-weight: 800;
  color: #3d3d3d;
}
.top_na_from_to{
  text-align: right;
}
.celebrity_icons{
  width: 80px;
  height: 80px;
  background: #fffa51;
  border-radius: 50%;
  padding: 27px 30px;
  border: 1px solid #e0dede;

}
.celebrity_icons .fa{
  font-size: 23px;
  font-weight: 700;

} 
.celebrity_voice_calls{
  font-weight: 500;
  color: #a5a5a5;
}
.celebrity_voice_calls_price{
  font-size: 18px;
  color: #434343;
  font-weight: 800;
}
.decrease_txt{
  color: #434343;
  font-weight: 500;
}
.card {
  margin-bottom: 1.5rem;
  padding: 12px 20px;
}
.row{
  padding: 15px;
}

.celebrities_number_txt{
  font-size: 20px;
  padding-right: 20px;
  font-weight: 600;
  color: #919191;
}
.celibrity_filter_span{
  padding: 7px 17px;
  border: 2px solid #e6dbdb;
  border-radius: 6px;
  margin-right: 22px;
}
.btn-warning {
  color: #272222;
  background-color: #fffa51;
  border-color: #f8cb00;
  font-size: 15px;
  border: none;
  border-radius: 7px;
  padding: 10px 35px;
}
.img-avatar{
  background: black;
  width: 45px;
  height: 45px;
}
.celebrity_img_list{
  float: left;
  padding-right: 20px;
}

.celebrity_name_list{
  color: black;
  vertical-align: middle;
  padding-top: 10px;
}

.edit_button{
  color: #020202;
  background-color: #ffffff;
  padding: 4px 18px;
  border: 2px solid #fffa51; 
  font-weight: 600;
  border-radius: 20px;
}

.celebrity_single_pic{
  
  width: 100%;
  height: 100%;
  display: block;
}
.celebrity_single_name{
  padding-top: 20px;
  color:red;
}
.celebrity_single_designation{
  padding-top: 10px;
  color: #8e8e8e;
}
.celebrity_single_about{
  font-size: 18px;
  color: #757474;
  padding-top: 15px;
  // text-align: center;

}
.celebrity_single_contact-txt{
  font-size: 18px;
  color: #949494;
  font-weight: 600;
  padding-top: 20px;
}
.celebrity_sigle_contact_details_sub{
  font-size: 17px;
  color: black;
  font-weight: 600;
  padding-right: 10px;

}

.celebrity_sigle_contact_memberence_txt{
font-size: 18px;
font-weight: 600;
color: #868686;
margin-top: 25px;
}
.celebrity_sigle_contact_memberence_date{
  color: black;
  font-size: 18px;
  font-weight: 500;
}
.celebrity_social_icons{
  padding-top: 15px;
}
.celebrity_social_icons .fa{
  padding: 10px 20px;
  font-size: 36px;

}
.celebrity_social_icons .fa-facebook{
  padding: 0px;
  color: #4467b0;
  padding-right: 20px;

}
.celebrity_social_icons .fa-twitter{

  color: #76a9ea;
}
.celebrity_social_icons .fa-instagram{

  color: #b01b86;

}
.celebrity_social_icons .fa-google-plus{
  color: rgb(249, 63, 45);

}

.table thead th {
  vertical-align: bottom;
  // border-bottom: 2px solid #cfd8dc;
  border-top: 0px;
  color: #cccccc;
  border: none;
  font-weight: 500;
}

.table td {

  font-size: 16px;
  color: black;
  font-weight: 600;
}
.table th, .table td {
  border-top: 1px solid #cfd8dc;
  padding: 15px 20px;
  border: none;
}
.celebrity_video_call_time{
  color: #a0a0a0 !important;
}

/* date picker css */

[type="date"] {
  background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  90% 50% no-repeat ;
}
[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}


label {
  display:inline-block;
}
input {
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  background-color: #fff;
  padding: 3px 5px;
  box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
  width: 150px;
  margin-right: 10px;
  font-size: 16px;
  font-weight: 500;
  color: #989898;
}

/* css for search bar with icon */

.search {
  position: relative;
  color: #aaa;
  font-size: 16px;
  display: inline-block;
}

.search input {
  width: 250px;
  height: 36px;
  background: #ffffff;
  border: 1px solid #aaa;
  border-radius: 5px;
  box-shadow: 0 0 3px #ccc, 0 10px 15px #fff8f8 inset;
}

.search input { text-indent: 32px;}
.search .fa-search { 
  position: absolute;
  top: 10px;
  left: 10px;
}

.pc-tab ul li.active label{
  background: #f9f7d5;
  border-top: 2px solid #ddd;
  border-right: 2px solid #ddd;
}

/* css for tab pills */
.spacer-large{
  height: 90px;
}

/* Component Needs */
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:100,400,700);
.pc-tab > input,
.pc-tab section > div {
display: none;
}

#tab1:checked ~ section .tab1,
#tab2:checked ~ section .tab2,
#tab3:checked ~ section .tab3 {
display: block;
}

#tab1:checked ~ nav .tab1,
#tab2:checked ~ nav .tab2,
#tab3:checked ~ nav .tab3 {
color: red;
}


.pc-tab {
width: 100%;
margin: 0 auto;
}
.pc-tab ul {
list-style: none;
margin: 0;
padding: 0;
}
.pc-tab ul li label {
font-family: "Raleway";
float: left;
border: 2px solid #ddd;
border-bottom: 0;
background: #f9f7d5;
font-size: 20px;
color: black;
padding: 15px 152px !important;
border-top: none;
border-right: none;
}
.pc-tab ul li label:hover {
background: #f9f7d5;
border-top: 2px solid #ddd;
border-right: 2px solid #ddd;
}
.pc-tab ul li label:active {
background: #ffffff;
border-top: 2px solid #ddd;
border-right: 2px solid #ddd;
}

.pc-tab ul li:not(:last-child) label {
border-right-width: 0;
}
.pc-tab section {
font-family: "Droid Serif";
clear: both;
}
.pc-tab section div {
padding: 20px;
width: 100%;
border: 2px solid #ddd;
border-top: 0px;
background: #fff;
line-height: 1.5em;
letter-spacing: 0.3px;
color: #444;
border-bottom: none;
border-right: none;
}
.pc-tab section div h2 {
margin: 0;
font-family: "Raleway";
letter-spacing: 1px;
color: #34495e;
}

#tab1:checked ~ nav .tab1 label,
#tab2:checked ~ nav .tab2 label,
#tab3:checked ~ nav .tab3 label {
background: white;
color: #111;
position: relative;
}
#tab1:checked ~ nav .tab1 label:after,
#tab2:checked ~ nav .tab2 label:after,
#tab3:checked ~ nav .tab3 label:after {
content: '';
display: block;
position: absolute;
height: 2px;
width: 100%;
background: #ffffff;
left: 0;
bottom: -1px;
}
label {
  display: inline-block;
  margin-bottom:0px;

}

.top_na_from_to label{
  font-size: 16px;
  font-weight: 500;
  color: #989898;
}
#left_dfb{
  margin-right: 20px;
}
/* tabs new css start */


/* tabs new css start */


/* new css */
.total_share_li{
  width:32.5% !important;
}
.celebrity_call_title span {
 color: black;
}
.make_payment_btn{
 border: 2px solid #fffa51;
 padding: 10px 20px;
 border-radius: 30px;
 text-decoration: none;
 color: black;
}
.make_payment_main_btn{
 padding: 18px 0px;
 text-align: right;
}

.progress {   
  height: 10px !important;
 border-radius: 0px;} 
/* .progress .sr-only { position: relative; } */
.celebrity_progressbar_left{
 border: 1px solid #ccc;
 border-radius: 5px;
}
.celebrity_progressbar_sub{
 padding:15px;
 border-bottom: 1px solid #ccc;
}
.celebrity_progressbar_sub_bottom{
 padding: 15px 20px 0px;
}
.celebrity_title_progress{
 width:19%;
 border-right: 1px solid #ccc;
}
.right_border_last{
 border:none;
}
.celebrity_call_title{
 font-size: 11px;
 text-align: center;
}
.celebrity_call_cost{
 text-align: center;
 font-weight: 700;
}
.light_blue{
 color:#77cccb;
}
.orange{
 color:#f7941d;
}
.blue{
 color:#448ccb;
}
.light_green{
 color:#7cc576;
}
.red{
 color:#fb424c;
}
.sub-nav-total-price {
  font-size: 20px;
  font-weight: 700;
  color: #3d3d3d;
}

@media screen and (min-width:1024px) and (max-width:1299px){
  .top_na_from_to label {
    font-size: 12px;
}
.top_na_from_to{
  text-align: initial;
}
.top_na_from_to input {
  width: 139px !important;
}
.top-nav-total-txt {
  font-size: 12px !important;
}
.sub-nav-total-price {
  font-size: 15px !important;
}
.celebrity_call_cost{
  font-size: 10px;
}
.celebrity_title_progress{
  width: 18% !important;
}
.celebrity_progressbar_sub_bottom {
  padding: 15px 5px 0px !important;
}
.celebrity_call_title{
  font-size: 9px !important;
}
.celebrity_progressbar_sub_bottom .total_share_li {
  width: 31.5% !important;
}
.celebrity_single_contact-txt{
  font-size: 14px !important;
}
.celebrity_sigle_contact_memberence_txt{
  font-size: 14px !important;
}
.celebrity_sigle_contact_memberence_date{
  font-size: 14px;
}
.celebrity_social_icons .fa-facebook {
  padding-right: 0px;

}
.celebrity_social_icons .fa {
  font-size: 22px;
}

.top-nav-total-price{
  font-size: 16px;
}
.card {
  padding: 0px;
}
.card .col-md-8, .card .col-md-4 {
  padding: 6px;
}
.celebrity_voice_calls{
  font-size: 12px;
}
.decrease_txt{
  font-size: 12px;
}
.celebrity_voice_calls_price{
  font-size: 14px;
}
.celebrity_icons{
  width: 46px;
  height: 46px;
  padding: 14px 14px;
  margin-top: 20px;
}
.celebrity_icons .fa {
  font-size: 18px;
  font-weight: 700;
}
.celebrity_img_list{
  padding-right:4px;
}
.img-avatar {
  width: 40px;
  height: 40px;
}

.table td {
  font-size: 14px;
}
.search input{
  width: 210px;
  font-size: 14px;
}
.celebrities_number_txt {
  font-size: 16px;
}
}

.cntbg{
  background: #fff;
  padding-top: 60px;
}
.spacer-mini-popup{
  height: 30px;
}

.tabsetlrsp{
  border-left: 2px solid #dddddd;
  padding-left: 0px;
  padding-right: 0px;
}
.allfiles_txt{
  color: #979797;
}
.document_single_file{
  width: 140px;
  height: 170px;
  // box-shadow:0.2em 0.2em 0.7em black, inset 0 0 0.7em #b5e1ff;
  border-radius: 7px;
}
.document_single_file img{
  width: 140px;
  height: 170px;
  border-radius: 7px;
  box-shadow: 2px 6px 15px #aaadaf, inset 0 0 0.7em #b5e1ff;
  border: 1px solid #e2e2e2;
}
.document_file_main ul li{
  margin-right: 20px;
}
.reportfile_name{
  color: #1f1f1f;
  font-size: 18px;
  font-weight: 500;
  margin-top: 12px;
  margin-bottom: 2px;

}
p.reportfiledate {
  color: #6b6666;
  font-weight: 400;
}
.customer_img_list li{
  margin: 0px 15px;
}
.client_appointment_table td {
  border-bottom: 2px solid #cfd8dc;
}

// dropdown css
.dropdown-main select {
  // padding:4px;
  margin: 0;
  background: #fff;
  color:#888;
  border:none;
  outline:none;
  display: inline-block;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  cursor:pointer;
  width: 150px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  .dropdown-main  select {
    padding-right:18px;
    border: 1px solid #ccc;
    padding: 5px 8px;
    border-radius: 10px;
    width: 180px;
  }
}

.dropdown-main label {
  position: relative;

}
.dropdown-main label:after {
  content:"\f078";   
  font-family: "FontAwesome";
  font-size: 12px;
  color: #aaa;
  right: 8px;
  top: 8px;
  padding: 0 0 2px;
  position: absolute;
  pointer-events: none;
}
.dropdown-main label:before {
  content:'';
  right:4px; top:0px;
  width:23px; height:18px;
  background: #fff0;
  position:absolute;
  pointer-events:none;
  display:block;
}

// dropdown css end

p{
  margin-bottom:0px !important;
}