<div class="">
    <div class="spacer-mini-popup"></div>
    <div class="row">
      <div class="col-md-6">
          <h2>Jagan Mode</h2>
      </div>
      <div class="col-md-6">
          <ul class="list-inline pull-right customer_img_list">
            
              <li class="list-inline-item">
                <a href class="">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRL8fA8vTzxYCHSx151YDpkXGnXiGlzPZ9Oi3KHlJk06SVnyRBj" class="img-avatar" alt="title">
                  <!-- <span class="d-md-down-none">admin</span> -->
                </a>
                </li>
                <li class="list-inline-item">
                    <a href class="">
                      <img src="assets/img/avatars/6.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                      <!-- <span class="d-md-down-none">admin</span> -->
                    </a>
                    </li>
                    <li class="list-inline-item">
                        <a href class="">
                          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSnUrOVnmf8CpdooruFUjOZHkLBtcLin2phDSg6WPM_i7sMOH4RGw" class="img-avatar" alt="admin@bootstrapmaster.com">
                          <!-- <span class="d-md-down-none">admin</span> -->
                        </a>
                        </li>
            </ul>
      </div>
    </div>
  
    <div class="spacer-mini-popup"></div>

    <div class="row cntbg">
      <div class="col-md-3">
        <div class="col-md-12">
            <!-- <button type="button" data-toggle="modal" data-target="#myModal" routerLinkActive="active" class="btn btn-warning btn-sm pull-right edit_button">EDIT</button> -->
        </div>

          <div class="col-md-12">

              <img src="https://media.istockphoto.com/photos/portrait-of-smiling-teen-boy-outdoors-picture-id589098830?k=6&m=589098830&s=612x612&w=0&h=Ut2FNWjS9CxXG5DdDduLqOEhcV0RBzRvsLrh9qS5EaY=" class="celebrity_single_pic" alt="">
              <h3 class=" celebrity_single_name">Jagan Mode</h3>
              <div class="row">
              <div class="col-md-2">
                  <span><i class="fa fa-map-marker fa-lg mt-4"></i></span> 
              </div>
              <div class="col-md-10">
              <p class="celebrity_single_about">B-322, Road no. 10, Banjara hills, Hyderabad</p>
             <span class="celebrity_sigle_contact_details_sub">123123</span> <br> <br>
             <span class="celebrity_sigle_contact_details_sub">hareesh@wtastudios.com</span>
            </div>
          </div>


             <!-- <p class="celebrity_social_icons">
               <a href="{{singleCelebrityDetails.celeb_facebook_link}}" taget="_new" *ngIf="singleCelebrityDetails.celeb_facebook_link != '#'"> <i class="fa fa-facebook" aria-hidden="true"></i></a>
               <a href="{{singleCelebrityDetails.celeb_instagram_link}}" taget="_new" *ngIf="singleCelebrityDetails.celeb_instagram_link != '#'">  <i class="fa fa-instagram" aria-hidden="true"></i></a>
               <a href="{{singleCelebrityDetails.celeb_twitter_link}}" taget="_new" *ngIf="singleCelebrityDetails.celeb_twitter_link != '#'">  <i class="fa fa-twitter" aria-hidden="true"></i></a>
               <a href="{{singleCelebrityDetails.celeb_google_link}}" taget="_new" *ngIf="singleCelebrityDetails.celeb_google_link!= '#'"> <i class="fa fa-google-plus" aria-hidden="true"></i></a>
             </p> -->

          </div>

      </div>
      <div class="col-md-9 tabsetlrsp">

<tabset id="tabset-custom">

    <tab heading="Profile Details">
      <div class="row">
      <div class="col-md-6">
        <table class="table">
            <thead>
              <tr>
                <th >PERSONAL DETAILS</th>
                <th></th>
               
            </tr>
            </thead>
           
              <tbody>

                  <tr  >
                    <td>Full Name</td>
                    <td class="">Jagan Mode</td>
                  </tr>
                  <tr  >
                      <td>Date Of Birth</td>
                      <td class="">09-05-1993</td>
                    </tr>
                  <tr  >
                    <td>Age</td>
                    <td class="">Jagan Mode</td>
                  </tr>
                    <tr  >
                        <td>Gender</td>
                        <td class="">Male</td>
                    </tr>
                    <tr  >
                        <td>Marital Status</td>
                        <td class="">Single</td>
                    </tr>
                    <tr  >
                        <td>Emergency Contact</td>
                        <td class="">9010637383</td>
                    </tr>
                    
        

            </tbody>
          </table>
        </div>

        <div class="col-md-6">
            <table class="table">
                <thead>
                  <tr>
                    <th >LIFESTYLE HABITS</th>
                    <th></th>
                   
                </tr>
                </thead>
               
                  <tbody>
    
                      <tr  >
                        <td>Smoking Habits</td>
                        <td class="">No</td>
                      </tr>
                      <tr  >
                          <td>Alcohol Consumption</td>
                          <td class="">No</td>
                        </tr>
                      <tr  >
                        <td>Activity Level</td>
                        <td class="">High</td>
                      </tr>
                        <tr  >
                            <td>Food Preference</td>
                            <td class="">No</td>
                        </tr>
                        <tr  >
                            <td>Occupation</td>
                            <td class="">Engineer</td>
                        </tr>
    
                </tbody>
              </table>
            </div>

        <div class="col-md-6">
            <table class="table">
                <thead>
                  <tr>
                    <th >MEDICAL DETAILS</th>
                    <th></th>
                   
                </tr>
                </thead>
               
                  <tbody>
    
                      <tr  >
                        <td>Height</td>
                        <td class="">170 cm</td>
                      </tr>
                      <tr  >
                          <td>Weight</td>
                          <td class="">60 kg</td>
                        </tr>
                      <tr  >
                        <td>Blood Type</td>
                        <td class="">O +ve</td>
                      </tr>
                        <tr  >
                            <td>Medication</td>
                            <td class="">No</td>
                        </tr>
                        <tr  >
                            <td>Diseases</td>
                            <td class="">No</td>
                        </tr>
                        <tr  >
                            <td>Injuries</td>
                            <td class="">No</td>
                        </tr>
                        <tr  >
                            <td>Surgeries</td>
                            <td class="">No</td>
                        </tr>
                        
            
    
                </tbody>
              </table>
            </div>

              </div>
    </tab>
    <tab heading="Medical Records">
<div class="row">
  <h6 class="allfiles_txt">ALL FILES</h6>
<div class="col-md-12 document_file_main">

  <ul class="list-inline">
    <li class="list-inline-item">
        <div class="document_single_file">
            <img src="https://c-sert.com/wp-content/uploads/Lab-report.png" alt="Title">
        </div>
        <p class="reportfile_name">Jagan.png</p>
        <p class="reportfiledate">24-07-2018</p>
    </li>
    <li class="list-inline-item">
        <div class="document_single_file">
            <img src="https://c-sert.com/wp-content/uploads/Lab-report.png" alt="Title">
        </div>
        <p class="reportfile_name">Jagan.png</p>
        <p class="reportfiledate">24-07-2018</p>
    </li>
    <li class="list-inline-item">
        <div class="document_single_file">
            <img src="https://c-sert.com/wp-content/uploads/Lab-report.png" alt="Title">
        </div>
        <p class="reportfile_name">Jagan.png</p>
        <p class="reportfiledate">24-07-2018</p>
    </li>

  </ul>
 
  

</div>
</div>
    </tab>
    <tab heading="Appointments">


      <!-- hidden table for tabs -->
        <!-- <table class="table client_appointment_table">
            <thead>
              <tr>
                <th>APP.ID</th>
              
                <th>SERVICE</th>
              
                <th>DATE</th>
                  
                 <th >TIME</th>
                 <th >COST</th>
                 <th >STATUS</th>
                 
              </tr>
            </thead>
            <tbody>
               <tr>
                    <td>qwer</td>
                    <td>qwer</td>
                    <td class="celebrity_video_call_time">qwerm</td>
                    <td class="celebrity_video_call_time">sdfg </td>
                    <td class="celebrity_video_call_time">sdfg </td>
                    <td class="celebrity_video_call_time">sdfg </td>
                    <td class="dropdown-main">
                        <label>
                            <select id="international">	
                              <option value="tests" selected="selected">Payment Pending</option>
                              <option value="tests.au">Request Approved</option>
                             
                            </select>
                          </label>
                    
                    </td>
                   
                </tr>
              
            </tbody>
          </table> -->

          <div class="general_main">
            <div class="row">
                <p class="gcp_appo_txt"> &lt; Appointment</p>
            </div>
            <div class="row"> 
              <div class="col-md-6">
                <h3>General Checkup</h3>
                <p>Appt.</p>

              </div>
              <div class="col-md-6">

              </div>
            </div>

          </div>



    </tab>
  </tabset>


      </div>

    </div>

    </div>
